*{
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Lora', serif;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
.fa{
    color: white;
}
.clearfix::after{
    content: '';
    clear: both;
    display: block;
}


.section-1 {
    min-height: 100vh;
    background: #fff;
    color: #000;
    text-align: center;
    position: relative;
    /* border: 3px solid red; */
}
.section-1 h1 {
    font-size: 4.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.section-1 p {
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.section-1-content{
    padding: 0 2% 0 10%;
    display: flex;
    width: 100%;
    position: relative;
}
.section-1 .section-1-content .my-image{
    width: 25%;
    display: flex;
    padding-bottom: 15%;
}
.section-1 .section-1-content .introduction{
    width: 65%;
    z-index: 2;
}
.section-1 .lower-curve-wrapper{
    z-index: -1;
}
.section-1 #lower-curve{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}


.section-2{
    min-height: 100vh;
    background-color: #0099ff;
    align-items: center;
    position: relative;
    /* border: 3px solid red; */
}
.section-2-content{
    /* border: 2px solid yellow; */
    margin: 0 10%;
    padding-bottom: 15%;
}
.section-2 .work-title{
    text-align: center;
    width: 100%;
    font-size: 3rem;
    margin-bottom: 4%;
}
.section-2 .work-wrapper{
    margin: 1% 5%;
    /* border: 2px solid blue; */
}
.work-wrapper .work-exp-list-item{
    list-style-type: disclosure-closed;
    margin-bottom: 3%;
}
.work-wrapper .work-exp-heading{
    font-size: 1.8rem;
}
.work-wrapper .work-exp-time{
    font-size: 1.3rem;
}

.section-2 #lower-curve{
    position: absolute;
    bottom: 0;
}
.section-2 #lower-curve path{
    fill: #fff;;
}

  

.section-3{
    min-height: 100vh;
    background-color: #fff;
    position: relative;
    /* border: 3px solid red; */
}
.section-3 #back-svg-1{
    position: absolute;
    width: 75%;
    top: 15%;
    left: 0;
    z-index: 1;
}
.section-3 #back-svg-2{
    position: absolute;
    width: 50%;
    top: 40%;
    right: 5%;
    z-index: 1;
}
.section-3 #back-svg-2{
    fill: #0022ff;
}
.section-3 #back-svg-3{
    position: absolute;
    width: 65%;
    bottom: 0;
    left: 30%;
    z-index: 1;
}
.section-3-content{
    /* border: 2px solid yellow; */
    margin: 0% 7% 5%;
    position: relative;
    z-index: 2;
    transition: linear;
    transition-delay: 0.2s;
}
.section-3-content-heading{
    width: 100%;
    text-align: center;
    font-size: 3rem;
}
.project-wrapper{
    display: flex;
    margin: 1% 3%;
    background: linear-gradient(to bottom, #ffffffa6, #72cffcb3);
    border-radius: 20px;
    /* border: 2px solid black; */
}
.project-wrapper:hover{
    box-shadow: 2px 2px 5px #8acbf6;
}
.project-wrapper .project-image-wrapper{
    width: 40%;
    padding: 2%;
}
.project-wrapper .project-image{
    width: 100%;
    height: 100%;
}
.project-wrapper .project-details-wrapper{
    width: 60%;
    margin: 2%;
}
.project-wrapper .project-details-wrapper .project-title{
    text-align: center;
    font-size: 2rem;
}
.project-wrapper .project-details-wrapper .project-details{
    font-size: 1.1rem;
    margin-bottom: 0;
}

  

.section-4{
    /* min-height: 100vh; */
    background-color: #fff;
    position: relative;
    /* border: 3px solid red; */
}
.section-4-content{
    width: 90%;
    margin: 3% auto 0;
    /* border: 2px solid yellow; */
}
.section-4-content-heading{
    text-align: center;
    font-size: 3rem;
}
.skill-wrapper{
    width: 50%;
    float: left;
    /* border: 2px solid blueviolet; */
}
.skill-wrapper .skill-heading{
    text-align: center;
    width: 100%;
    font-size: 3rem;
}
.skill-wrapper .skill-lists-wrapper{
    margin: 8% 15% 5%;
}
.skill-wrapper .skill-item-wrapper{
    width: 100%;
    height: 50px;
    font-size: 25px;
    margin-bottom: 15px;
    padding: 10px;
    position: relative;
}
.skill-wrapper .skill-item-wrapper:after{
    content: "";
    width: 0;
    height: 0;
    border-left: 40px solid;
    border-bottom: 51px solid white;
    background-color: #000;
    position: absolute;
    right: 0;
    top: 0;
}
.skill-wrapper .skill-item-wrapper:nth-child(3n){
    background-color: #0099ff;
}
.skill-wrapper .skill-item-wrapper:nth-child(3n+1){
    background-color: #0033ff;
}
.skill-wrapper .skill-item-wrapper:nth-child(3n+2){
    background-color: #00eeff;
}
.skill-wrapper .skill-item-wrapper:nth-child(3n):after{
    border-left-color: #0099ff;
}
.skill-wrapper .skill-item-wrapper:nth-child(3n+1):after{
    border-left-color: #0033ff;
}
.skill-wrapper .skill-item-wrapper:nth-child(3n+2):after{
    border-left-color: #00eeff;
}
.skill-wrapper .skill-item-wrapper .skill-item{
    width: 100%;
    font-size: 80%;
}
.interest-wrapper{
    width: 50%;
    float: left;
    /* border: 2px solid blueviolet; */
}
.interest-wrapper .interest-heading{
    text-align: center;
    width: 100%;
    font-size: 3rem;
}
.interest-wrapper .interest-lists-wrapper{
    margin: 8% 15% 5%;
}
.interest-wrapper .interest-item-wrapper{
    width: 100%;
    height: 50px;
    font-size: 25px;
    margin-bottom: 15px;
    padding: 10px;
    position: relative;
}
.interest-wrapper .interest-item-wrapper:after{
    content: "";
    width: 0;
    height: 0;
    border-left: 40px solid;
    border-bottom: 51px solid white;
    background-color: #000;
    position: absolute;
    right: 0;
    top: 0;
}
.interest-wrapper .interest-item-wrapper:nth-child(3n){
    background-color: #0099ff;
}
.interest-wrapper .interest-item-wrapper:nth-child(3n+1){
    background-color: #0033ff;
}
.interest-wrapper .interest-item-wrapper:nth-child(3n+2){
    background-color: #00eeff;
}
.interest-wrapper .interest-item-wrapper:nth-child(3n):after{
    border-left-color: #0099ff;
}
.interest-wrapper .interest-item-wrapper:nth-child(3n+1):after{
    border-left-color: #0033ff;
}
.interest-wrapper .interest-item-wrapper:nth-child(3n+2):after{
    border-left-color: #00eeff;
}
.interest-wrapper .interest-item-wrapper .interest-item{
    width: 100%;
}



.section-5{
    min-height: 60vh;
    background-color: #0099ff;
    display: flex;
    align-items: center;
    position: relative;
    /* border: 3px solid red; */
}
.section-5 #upper-curve{
    position: absolute;
    top: 0;
}
.section-5-content{
    width: 100%;
    height: 100%;
    /* border: 2px solid yellow; */
    margin: 5% 10% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.section-5 .contact-wrapper .contact-heading{
    width: 100%;
    text-align: center;
    font-size: 3rem;
}
.section-5  .contact-links{
    list-style: none;
    padding: 0;
}
.section-5 .contact-links .contact-link-button{
    display: inline-block;
    margin-left: 2.5%;
    padding: 2.5%;
    width: 20%;
    text-align: center;
    font-size: 2em;
    background-color: #00e;
    border-radius: 25%;
    /* border: 1px solid yellow; */
}
.section-5 .contact-links .contact-link-button:hover{
    background-color: #00a;
}



/* MEDIA QUERIES */
@media only screen and (max-width:550px){
    .section-1 h1{
        font-size: 3.5rem;
    }
    .section-1 .section-1-content .my-image{
        padding-top: 10%;
    }
    .section-2 .section-2-content{
        margin: 0 5%;
    }
    .section-2 .work-title{
        font-size: 2.5rem;
    }
    .work-wrapper .work-exp-heading{
        font-size: 1.6rem;
    }
    .work-wrapper .work-exp-time{
        font-size: 1.15rem;
    }
    .section-3-content{
        margin: 0 4% 5%;
    }
    .project-wrapper{
        flex-direction: column;
    }
    .project-wrapper .project-image-wrapper{
        width: 100%;
    }
    .project-wrapper .project-details-wrapper{
        width: 100%;
    }
    .skill-wrapper .skill-heading{
        font-size: 2.5rem;
    }
    .interest-wrapper .interest-heading{
        font-size: 2.5rem;
    }
    .section-5 .contact-wrapper .contact-heading{
        font-size: 2.5rem;
    }
    .section-5 .contact-links .contact-link-button{
        font-size: 1.5em;
    }  
}